.devenv
.direnv
.envrc

node_modules/

# tmp file that is deleted upon run. but we should
# ignore it just incase a commit is done before it is
# deleted
.tmp-arion-docker-compose*

# pulled by graphqurl. don't commit this since it'll
# be generated in CI.
schema.graphql

# I use this for testing stuff
scratch/

# flutter generated
__generated__/
.flutter-plugins*
*.freezed.dart
*.g.dart