CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
CMakeCache.txt

#PKGConfig
CPack*.cmake
cpm-package-lock.cmake
rapids-cmake/
CPM_modules/
RAPIDS.cmake
cmake/CPM_*.cmake

**/result/
**/target/
**/dist/